:root{

  }
  
  ::selection {

  }
  
  [data-theme=light] {

  }
  
  [data-theme=dark] {

  }

/* 全局字体 */  
@font-face {
	font-family:echo;
	src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
	font-display:swap
}
@font-face {
	font-family:aqqxs;
	src:url(https://cdn1.tianli0.top/gh/L-20021213/static/HarmonyOS_Sans_SC_Medium.subset.woff2);
	font-display:swap
}
h1#site-title {
	font-family: echo, sans-serif;
  }
a.article-title {
	font-family:aqqxs,sans-serif
}
.content {
	font-family:aqqxs,sans-serif
}
.article-meta-wrap {
	font-family:aqqxs,sans-serif
}
div#bbtalk {
	font-family:aqqxs,sans-serif
}
a#site-name {
	font-family:aqqxs,sans-serif
}
.card-info-avatar.is-center {
	font-family:aqqxs,sans-serif
}
p {
	font-family:aqqxs,sans-serif
}
.card-widget.card-tags {
	font-family:aqqxs,sans-serif
}
.card-widget.card-webinfo {
	font-family:aqqxs,sans-serif
}
element.style {
	font-family:aqqxs,sans-serif
}
.aplayer-music {
	font-family:aqqxs,sans-serif
}
div#hopelight_plus_menu {
	font-family:aqqxs,sans-serif
}
div#menus {
	font-family:aqqxs,sans-serif
}
div#local-search-title {
	font-family:aqqxs,sans-serif
}
input.local-search-box--input {
	font-family:aqqxs,sans-serif
}
div#post-info {
	font-family:aqqxs,sans-serif
}
.post-copyright {
	font-family:aqqxs,sans-serif
}
.sticky_layout {
	font-family:aqqxs,sans-serif
}
.search-dialog {
	font-family:aqqxs,sans-serif
}
main#content-inner {
	font-family:aqqxs,sans-serif
}
p {
	font-family:aqqxs,sans-serif!important
}
#footer-wrap {
	font-family:aqqxs,sans-serif
}
#sidebar #sidebar-menus.open {
	font-family:aqqxs,sans-serif
}
#search-button {
	font-family:aqqxs,sans-serif
}
#article-container code,#article-container pre {
	font-family:aqqxs,sans-serif!important
}



/* 主页哔哔bb */
#bber-talk {
	width:100%;
	height:25px;
	line-height:25px
}
#bber-talk .li-style {
	width:100%;
	height:25px;
	text-align:center;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
	transition:.3s
}
#bber-talk .li-style:hover {
	color:#49b1f5
}
#bbTimeList {
	background:var(--card-bg);
	color:var(--font-color);
	margin-top:1rem;
	padding:.6rem 1rem .5rem 1rem;
	border-radius:12px;
	cursor:pointer;
	display:flex
}
#bbtalk {
	display:flex;
	flex-direction:column;
	overflow:hidden
}
#bbTimeList {
	width:100%;
	/* border:2px solid #9c9; */
	align-items:center
}
#bbtalk {
	width:100%
}
/* 设备 */
#bber > section > ul > div > li > div .datafrom{
  order: 2;
  color: var(--bj-secondtext);
  font-size: 0.6rem!important;
  margin-left: 8px;
}
#bber > section > ul > div > li > div .datafrom small{
  font-size: 100%;
}
#bber > section > ul > div > li > div img{
  margin: .5rem 0;
  width: 100%;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
}

/* 滚动条美化 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}

/*哔哩哔哩视频适配*/
.aspect-ratio {position: relative;width: 100%;height: 0;padding-bottom: 75%;margin: 3% auto;text-align: center;}      
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* 关闭小康bber侧边栏展示
.latestBB { display: none; }
*/

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/* 头图遮罩层透明 */
#page-header::before{
  background: transparent!important;
  }
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

/* 自定义icon */
.fa-inbox:before {
  content: '📂';
  color: orange
}
.fa-calendar-alt:before {
  content: '💢';
}
.fa-thumbtack:before {
  content: '🚀';
}
.fa-tag:before {
  display: none;
}
.fa-tags:before {
  content: '🐞';
}
.fa-comment-dots:before {
  content: '💭';
}
.fa-clock-rotate-left:before, .fa-history:before {
  content: '💨';
}

.fa-home:before {
  content: '🏡';
}
.fa-search:before {
  content: '🔎';
}
.fa-archive:before {
  content: '🚅';
}
.fa-terminal:before {
  content: '📍';
}
.fa-list:before {
  content: '♊️';
}
.fa-link:before {
  content: '👿';
}
.fa-heart:before {
  content: '💁';
}
.fa-folder-open:before {
  content: '📇';
}
hr:before { 
  content: '🚲';
}

/* 分类详情页面  */
@media screen and (min-width: 1024px){
  .article-sort-item-img {overflow: hidden; width: 150px; height: 80px;}
}
.article-sort-item-img {border-radius: 8px;}
.article-sort-item-title {font-weight: 600;}